.form-group label {
    font-weight: bold;
}

table tr{
    border-left: 5px solid transparent;
}

table thead {
    background: black;
}

table tbody tr:hover{
    color: gold;
    background: #35393d;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-left: -10px; 
}

.float {
    position: absolute;
    top: -20%;
    right: 0;
}