<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">TRANG QUẢN LÍ SỰ KIỆN</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <button class="btn btn-outline-warning my-2 my-sm-0" (click)='showCreateEventPop()'>Tạo sự kiện mới</button>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/#/wheel/1">Quay Thưởng <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input id="myInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
<table class="event-table" class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên Sự Kiện</th>
        <!-- <th scope="col">Tên Công Ty</th> -->
        <th scope="col">Ngày tạo</th>
        <th scope="col">Trạng thái</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr *ngFor="let item of listEvent; let i = index" [attr.data-index]="i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.name}} {{i+1}}</td>
        <!-- <td>{{item.nameOfCompany}}</td> -->
        <td>{{item.dateCreate | date: 'dd/MM/yyyy hh:mm'}}</td>
        <td>{{item.isDone ? 'Done' : 'Doing'  }}</td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="exampleModalLabel" style="color:white" >TẠO SỰ KIỆN MỚI</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Tên sự kiện:</label>
              <input (input)="newEvent.name = $event.target.value" type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Tên gian hàng:</label>
              <input (input)="newEvent.nameOfCompany = $event.target.value" type="text" class="form-control">
            </div>

            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Link image vòng quay</label>
              <input  type="text" (keyup)="linkImageKeyUp()" (input)="newEvent.linkImageWheel = $event.target.value" class="form-control">
            </div>
            <div [hidden]='!isShowImage'>
              <div class="text-center">
                <img  style="width:50%;" src="../../assets/img/wheel_tab.png">
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Danh sách giải thưởng trên vòng quay, để trống là không trúng giải:</label>
                  <label for="recipient-name" class="col-form-label">(Thứ tự theo chiều kim đồng hồ, bắt đầu từ vị trí 1 giờ):</label>
                <div class="row" *ngFor="let i of listGift" style="margin-top: 5px;">
                  <div class="col-9">
                      <input  type="text" (input)="i.name = $event.target.value" class="form-control" placeholder="Tên giải">
                  </div>
                  <div class="col-3">
                      <input  type="number" (input)="i.numberOfReward = $event.target.value" (keyup)="numberOfRewardChange($event)" class="form-control" placeholder="Số giải">
                  </div>
                </div>
                <button type="button" [hidden] = "isHideAddGiftButton" (click)="addGift()" class="btn btn-info btn-sm" style="margin-top: 5px;">Thêm giải</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click) = 'addEvent()' class="btn btn-success">Thêm sự kiện</button>
        </div>
      </div>
    </div>
  </div>