<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#/manage">TRANG QUẢN LÍ SỰ KIỆN</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
          <button class="btn btn-outline-warning my-2 my-sm-0" style="margin-left: 10px;" (click)='showCreateEventPop()'>Tạo sự kiện mới</button>
      </li>
      <li class="nav-item active">
        <button class="btn btn-outline-danger my-2 my-sm-0" style="margin-left: 10px;" (click)='logOut()'>Đăng xuất</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input id="myInput" class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
    </form>
  </div>
</nav>
<div style="width: 100%; height: 90%; overflow-y: scroll;">
  <table class="event-table" class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr *ngFor="let item of listEvent; let i = index" (click) = 'selectEvent(item)' [attr.data-index]="i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.dateCreate | date: 'dd/MM/yyyy hh:mma'}}</td>
        <td>{{item.status}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white" >TẠO SỰ KIỆN MỚI</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên sự kiện:</label>
            <input (input)="newEvent.name = $event.target.value" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên gian hàng:</label>
            <input (input)="newEvent.nameOfCompany = $event.target.value" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Link bài Post FB:</label>
            <input type="text" (input)="newEvent.linkPostFB = $event.target.value" class="form-control">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Link privacy:</label>
            <input  type="text" (input)="newEvent.linkToPrivacy = $event.target.value" class="form-control">
          </div>
          
          <div class="form-group" >
            <label for="recipient-name" class="col-form-label">Link image vòng quay: (link phải có đuôi '.png')</label>
            <input type="text" (keyup)="linkImageKeyUp($event.target.value)" (input)="newEvent.linkImageWheel = $event.target.value" class="form-control" >
          </div>
          <div [hidden]='!isShowImage'>
            <div class="text-center">
              <img  style="width:50%;" src="{{newEvent.linkImageWheel}}">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Thứ tự giải thưởng theo chiều kim đồng hồ, bắt đầu từ vị trí 12 giờ:</label>
              <div class="row" *ngFor="let i of listGift" style="margin-top: 5px;">
                <div class="col-8 float-container">
                    <input  type="text" (input)="i.name = $event.target.value" class="form-control" placeholder="Tên giải">
                    <!-- <img [hidden]="!i.isLimited" class="float" style="width:15%;" src="../../assets/img/limited.png"> -->
                </div>
                <div class="col-4">
                    <input  type="number" (input)="i.numberOfReward = limitValue($event.target.value)" (keyup)="valueKeyup($event)" class="form-control" placeholder="Số giải">
                </div>
                <!-- <div class="checkbox col-1">
                  <input class='checkbox' (change)="i.isLimited = !i.isLimited" type="checkbox" style="margin-top: 12px;">
                </div> -->
              </div>
              <button type="button" [hidden] = "isHideAddGiftButton" (click)="addGift()" class="btn btn-info btn-sm" style="margin-top: 5px;">Thêm giải</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click) = 'addEvent()' class="btn btn-success">Thêm sự kiện</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="show-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white" >CHI TIẾT SỰ KIỆN</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label" style="width: 100%">Link: 
                <a  href="{{'/#/wheel/' + selectingEvent._id}}" 
                    target="_blank" style="word-wrap: break-word;">
                    {{'https://quaythuong.info/#/wheel/' + selectingEvent._id}}
                  </a>
              </label>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên sự kiện:</label>
            <input value="{{selectingEvent.name}}" (input)="editingEvent.name = $event.target.value" maxlength="40" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên gian hàng:</label>
            <input value="{{selectingEvent.nameOfCompany}}" (input)="editingEvent.nameOfCompany = $event.target.value" maxlength="40" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Link bài Post FB:</label>
            <input value="{{selectingEvent.linkPostFB}}" type="text" (input)="editingEvent.linkPostFB = $event.target.value" maxlength="300" class="form-control">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Link privacy:</label>
            <input value="{{selectingEvent.linkToPrivacy}}" type="text" (input)="editingEvent.linkToPrivacy = $event.target.value" maxlength="300" class="form-control">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Link image vòng quay:</label>
            <input value="{{selectingEvent.linkImageWheel}}" type="text" (input)="editingEvent.linkImageWheel = $event.target.value" maxlength="300" class="form-control">
          </div>
          <div class="form-group" style="margin-top: 1rem; margin-bottom: 1rem;">
            <button type="button" (click)="showHideEditGift()" class="btn btn-info">{{isShowEditGift?'Hide gifts': 'Show gifts'}}</button>
            <button type="button" (click)="goTo('code', selectingEvent._id)" class="btn btn-info">Codes</button>
            <button type="button" (click)="goTo('result', selectingEvent._id)" class="btn btn-info">Results</button>
          </div>
          
          <div [hidden]='!isShowEditGift'>
            <div class="text-center">
              <img  style="width:50%;" src="{{editingEvent.linkImageWheel}}">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">(Thứ tự theo chiều kim đồng hồ, bắt đầu từ vị trí 12 giờ):</label>
              <div class="row" *ngFor="let i of editingEvent.giftArray" style="margin-top: 5px;">
                <div class="col-9">
                    <input value="{{i.name}}"  type="text" (input)="i.name = $event.target.value" class="form-control" maxlength="40" placeholder="Tên giải">
                </div>
                <div class="col-3">
                    <input value="{{i.numberOfReward}}" type="number" (input)="i.numberOfReward = limitValue($event.target.value)" (keyup)="valueKeyup($event)" class="form-control" placeholder="Số giải">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="input-group">
          <select #select class="custom-select" id="select-status" (change)="selectEditStatus(select)" >
            <option  value = 'Preparing' >Preparing</option>
            <option  value = 'Running' >Running</option>
            <option  value = 'Pause' >Pause</option>
            <option  value = 'Done' >Done</option>
          </select>
        </div>
        <button type="button" (click) = 'editEvent()' class="btn btn-warning">Lưu</button>
      </div>
    </div>
  </div>
</div>
