<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#/manage" style="color:gold"><b>VỀ TRANG CHỦ</b></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <button class="btn btn-warning my-2 my-sm-0" style="padding-left: 20px; padding-right: 20px; margin-left: 10px;" (click)="goTo('result', eventModel._id)">Trang kết quả</button>
        </li>
        <li class="nav-item active">
          <button class="btn btn-success my-2 my-sm-0" style="padding-left: 20px; padding-right: 20px; margin-left: 10px;" (click)="exportAllCodes()">Export All Codes</button>
      </li>
    </ul>
  </div>
</nav>
<div class="text-center">
  <p class="title-sub">TRANG QUẢN LÍ PHẦN THƯỞNG</p>
  <p class="title">{{eventModel.name}}</p>
</div>

<div class="row" style="padding: 10px;">
  <div class="col text-center">
    <p class="header-text"><b>Tổng giải thưởng: {{currentTotalReward}}</b></p>
  </div>
  <div class="col text-center">
    <p class="header-text"><b>Còn lại: {{currentTotalCodeUsed}}</b></p>
  </div>
</div>


<div style="width: 100%; height: 60%; overflow-y: scroll;">
  <table class="event-table table-fixed" class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Giải thưởng</th>
        <th scope="col" style="white-space: nowrap;">Tổng giải</th>
        <th scope="col" style="white-space: nowrap;">Còn lại</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr *ngFor="let gift of eventModel.giftArray" (click) = 'selectGift(gift)' [attr.data-index]="i">
          <td>{{gift.name}}</td>
          <td style="white-space: nowrap;">{{gift.numberOfReward}}</td>
          <td style="white-space: nowrap;">{{gift.numberOfReward - gift.playedCounter}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="gift-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white" >{{currentGift.name}} {{'('+ currentGift.playedCounter + '/' + currentGift.numberOfReward + ')'}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Số lượng mã cần xuất: (maximum 500)</label>
              <div class="row">
                <div class="col">
                    <input #inputNumberOfCode (keyup)="valueKeyup($event)" id="inputNumberOfCode" type="text" type="number" 
                    class="form-control" placeholder="SL mã cần xuất">
                </div>
                <div class="col-4">
                  <button type="button" (click) = 'showConfirmCreateCode()' class="btn btn-danger">Xuất mã</button>        
                </div>
              </div>
              
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Lịch sử xuất mã: (Đã phát: {{releaseCodeCounter + '/' +currentCodeArrayShow.length}} mã)</label><br/>
            <div class="input-group">
              <select #select class="custom-select" id="select-date" (change)="selectDate(select.value)" >
                <option value="-1">All</option>
                <option  *ngFor="let group of currentCodeOfGiftGroupByDate; let i = index" value="{{group.date}}">{{group.date | date: 'dd/MM/yyyy hh:mm:ss a'}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div style="width: 100%; max-height: 350px; margin-top: 10px; overflow-y: scroll;">
                <table class="event-table table-fixed" class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Mã</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    <tr *ngFor="let codeItem of currentCodeArrayShow; let i = index" [attr.data-index]="i">
                        <td>{{codeItem.code}}</td>
                        <td>
                          <button [hidden] = 'codeItem.isUsed'  type="button"  class="btn btn-warning" (click) = 'releaseCode(codeItem)' >Chưa phát</button>
                          <p [hidden] = '!codeItem.isUsed'>Đã phát</p>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success" (click) = 'showExportExcel()'>Xuất Excel</button>
        <button type="button" (click) = 'closePopupGift()' class="btn btn-dark">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="export-excel-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white" >XUẤT MÃ</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label"><b>Bước 1:</b> Copy đoạn code: <b>{{currentCodeExport}}</b></label>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><b>Bước 2:</b> Mở liên kết và làm theo hướng dẫn:</label>
            <a href="https://goo.gl/2shZMG" target="_blank"><b>https://goo.gl/2shZMG</b></a>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click) = "closeModalExport()" class="btn btn-dark">Đóng</button>
      </div>
    </div>
  </div>
</div>
  
