<div class="container">
    <div class="header text-center">
        <p class="head1">GIAN HÀNG</p>
        <p class="head2">{{currentEvent.name}}</p>
    </div>
    <div class="h-100 wheel-container">
      <div class="row h-100">
          <div class="col-12 h-100">
              <div class="card h-100 justify-content-center" style="background: transparent; border: none;">
                  <div>
                      <div class="card-body">
                          <div class="wheel-box" class="text-center">
                              <img class = "wheel {{curClass}}" (click)='start()' src="{{currentEvent.linkImageWheel}}">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="h-100 wheel-container">
      <div class="row h-100">
          <div class="col-12 h-100">
              <div class="card h-100 justify-content-center" style="background: transparent; border: none;">
                  <div>
                      <div class="card-body">
                          <div class="wheel-box" class="text-center">
                              <img class = "archor" src="../../assets/img/archor.png">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="row at-bottom">
    <div class="col-sm text-center">
        <button [hidden]="isPlayed" type="button" (click)='start()' class="btn btn-outline-warning" style="background: #98000f;"><b>{{isCompleteInput? 'QUAY' : 'NHẬP MÃ DỰ THƯỞNG' }}</b></button>
    </div>
</div>
<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: crimson">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white" >Nhập thông tin quay và nhận thưởng</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Mã dự thưởng:</label>
            <div class="row">
                <div class="col-5 float-container" style="padding-right: 0px;">
                    <input #codeInput type="text" [disabled] = 'isCheckingCode' (keyup)="codeInputKeyUp(codeInput.value)" (input)="codeItem.code = $event.target.value" maxlength="8" style="text-transform:uppercase" class="form-control">
                    <img [hidden]="!isValidCode" class="float" src="../../assets/img/checked.png">
                </div>
                <div class="col-3">
                    <button type="button" [disabled] = 'isCheckingCode' (click) = 'buttonCheckCode(codeInput.value)' class="btn btn-primary">Kiểm tra</button>
                </div>
            </div>
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Họ và tên*:</label>
              <input id="input-name" type="text" [disabled] = '!isValidCode' (input)="codeItem.name = $event.target.value" maxlength="40" class="form-control">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Số điện thoại*:</label>
              <input id="phoneInput" type="number" [disabled] = '!isValidCode' (keyup)="phoneKeyUp()" class="form-control">
          </div>
          <div class="form-group">
            <p for="recipient-name" class="col-form-label">Bằng việc tham gia chương trình đồng nghĩa với việc bạn sẽ chấp nhận các <a href="{{currentEvent.linkToPrivacy}}" target="_blank">Quy định và Điều khoản</a> của chúng tôi.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled] = '!isValidCode' (click) = 'completeInput()' class="btn btn-danger">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>
