.container {
    width: 100%;
    height: 100%;
}

.header .head1{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 3.5vmin;
    white-space: nowrap;
    font-weight: bold;
    color: white;
}

.header .head2{
    font-size:calc(12px + 4vmin);
    margin: 0.5vmin;
    color: white;    
    font-weight: bold;
}

label {
    font-weight: 600;
}

.wheel-container {
    margin-top: 20px; 
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
}

.wheel{
    width: 80%;
    min-width: 350px;
    max-width: 30%;
}

.archor{
    width: 80%;
    min-width: 350px; 
    max-width: 30%;
}

.at-bottom {
    width: 100%;
    margin: 0;
    margin-bottom: 30px; 
    position:absolute;
    bottom: 0;
}
.at-bottom button {
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 70px; 
    padding-right: 70px; 
}

.wheel-container .rotate{
    -webkit-animation:spin 1000ms linear infinite;
    -moz-animation:spin 1000ms linear infinite;
    animation:spin 1000ms linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.wheel-container .rotate0{
    -webkit-animation:spin0 10s ease-out both;;
    -moz-animation:spin0 10s ease-out both;;
    animation:spin0 10s ease-out both;;
}

@-moz-keyframes spin0 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1800deg); } 
}
@-webkit-keyframes spin0 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1800deg); } 
}
@keyframes spin0 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1800deg); transform:rotate(1800deg); } 
}

.wheel-container .rotate1{
    
    -webkit-animation:spin1 10s ease-out both;
    -moz-animation:spin1 10s ease-out both;
    animation:spin1 10s ease-out both;
}

@-moz-keyframes spin1 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1755deg); } 
}
@-webkit-keyframes spin1 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1755deg); } 
}
@keyframes spin1 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1755deg); transform:rotate(1755deg); } 
}

.wheel-container .rotate2 {
    -webkit-animation:spin2 10s ease-out both;;
    -moz-animation:spin2 10s ease-out both;;
    animation:spin2 10s ease-out both;;
}

@-moz-keyframes spin2 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1710deg); } 
}
@-webkit-keyframes spin2 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1710deg); } 
}
@keyframes spin2 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1710deg); transform:rotate(1710deg); } 
}

.wheel-container .rotate3 {
    -webkit-animation:spin3 10s ease-out both;;
    -moz-animation:spin3 10s ease-out both;;
    animation:spin3 10s ease-out both;;
}

@-moz-keyframes spin3 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1665deg); } 
}
@-webkit-keyframes spin3 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1665deg); } 
}
@keyframes spin3 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1665deg); transform:rotate(1665deg); } 
}

.wheel-container .rotate4 {
    -webkit-animation:spin4 10s ease-out both;;
    -moz-animation:spin4 10s ease-out both;;
    animation:spin4 10s ease-out both;;
}

@-moz-keyframes spin4 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1620deg); } 
}
@-webkit-keyframes spin4 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1620deg); } 
}
@keyframes spin4 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1620deg); transform:rotate(1620deg); } 
}

.wheel-container .rotate5 {
    -webkit-animation:spin5 10s ease-out both;;
    -moz-animation:spin5 10s ease-out both;;
    animation:spin5 10s ease-out both;;
}

@-moz-keyframes spin5 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1575deg); } 
}
@-webkit-keyframes spin5 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1575deg); } 
}
@keyframes spin5 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1575deg); transform:rotate(1575deg); } 
}

.wheel-container .rotate6 {
    -webkit-animation:spin6 10s ease-out both;;
    -moz-animation:spin6 10s ease-out both;;
    animation:spin6 10s ease-out both;;
}

@-moz-keyframes spin6 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1530deg); } 
}
@-webkit-keyframes spin6 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1530deg); } 
}
@keyframes spin6 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1530deg); transform:rotate(1530deg); } 
}

.wheel-container .rotate7 {
    -webkit-animation:spin7 10s ease-out both;;
    -moz-animation:spin7 10s ease-out both;;
    animation:spin7 10s ease-out both;;
}

@-moz-keyframes spin7 { 
    0% { -moz-transform: rotate(0deg); } 
    100% { -moz-transform: rotate(1485deg); } 
}
@-webkit-keyframes spin7 {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(1485deg); } 
}
@keyframes spin7 { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    100% { -webkit-transform: rotate(1485deg); transform:rotate(1485deg); } 
}