<div class="container">
    <div class="header text-center">
        <p class="head1">GIAN HÀNG</p>
        <p class="head2">{{currentEvent.name}}</p>
    </div>
    <div class="h-100 wheel-container">
      <div class="row h-100">
          <div class="col-12 h-100">
              <div class="card h-100 justify-content-center" style="background: transparent; border: none;">
                  <div>
                      <div class="card-body">
                          <div class="wheel-box" class="text-center">
                              <img class = "wheel {{curClass}}" (click)='start()' src="{{currentEvent.linkImageWheel}}">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="h-100 wheel-container">
      <div class="row h-100">
          <div class="col-12 h-100">
              <div class="card h-100 justify-content-center" style="background: transparent; border: none;">
                  <div>
                      <div class="card-body">
                          <div class="wheel-box" class="text-center">
                              <img class = "archor" src="../../assets/img/archor.png">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="row at-bottom">
    <div class="col-sm text-center">
        <button [hidden] = "!isCompleteInput" type="button" (click)='start()' class="btn btn-outline-warning"><b>QUAY</b></button>
    </div>
</div>
<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: crimson">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white" >Nhập thông tin quay và nhận thưởng</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Mã dự thưởng:</label>
            <div class="row">
                <div class="col-5" style="padding-right: 0px;">
                    <input #codeInput type="text" [disabled] = 'isCheckingCode' (keyup)="codeInputKeyUp(codeInput.value)" (input)="codeItem.code = $event.target.value" maxlength="8" style="text-transform:uppercase" class="form-control">
                </div>
                <div class="col-3">
                    <button type="button" [disabled] = 'isCheckingCode' (click) = 'codeInputKeyUp(codeInput.value)' class="btn btn-primary">Kiểm tra</button>
                </div>
            </div>
          </div>
          <!-- <button #codeCheckButton type="button" [disabled] = 'isValidCode' (click)='checkValidCode(codeInput.value)' class="btn btn-danger">Kiểm tra</button> -->
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Họ và tên*:</label>
              <input id="input-name" type="text" [disabled] = '!isValidCode' (input)="codeItem.name = $event.target.value" maxlength="40" class="form-control">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Số điện thoại*:</label>
              <input id="phoneInput" type="number" [disabled] = '!isValidCode' (keyup)="phoneKeyUp()" (input)="codeItem.phone = $event.target.value" class="form-control">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Tên facebook đã like Page và Share bài*:</label>
              <input type="text" [disabled] = '!isValidCode' (input)="codeItem.fb = $event.target.value" maxlength="40" class="form-control">
          </div>
          <div class="form-group">
            <p for="recipient-name" class="col-form-label">Nếu các bạn chưa thực hiện like Page và share Post thì thực hiện ở đây: <a href="{{currentEvent.linkPostFB}}" target="_blank">{{currentEvent.linkPostFB}}</a></p>
          </div>
          <div class="form-group">
            <p for="recipient-name" class="col-form-label">Bằng việc tham gia chương trình đồng nghĩa với việc bạn sẽ chấp nhận các quy định và điều khoản của chúng tôi: <a href="{{currentEvent.linkToPrivacy}}" target="_blank">Term and privacy</a></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled] = '!isValidCode' (click) = 'completeInput()' class="btn btn-danger">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="notify-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: crimson">
          <label for="recipient-name" id = "notify-header" class="modal-title" style="color:white; font-weight: bold;"></label>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <label for="recipient-name" id = "notify-body" class="col-form-label"></label>
            </div>
            <div class="form-group">
                <label for="recipient-name" id = "notify-body-sub" class="col-form-label"></label>
            </div>
            <div class="form-group">
                <a href="" id = "notify-body-link" target="_blank"></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>