<div class="container">
    <div class="header text-center">
        <p class="head1">GIAN HÀNG</p>
        <p class="head2">SỮA NUTRI FOOD</p>
    </div>
    <div class="h-100 wheel-container">
      <div class="row h-100">
          <div class="col-12 h-100">
              <div class="card h-100 justify-content-center" style="background: transparent; border: none;">
                  <div>
                      <div class="card-body">
                          <div class="wheel-box" class="text-center">
                              <img class = "wheel {{curClass}}" (click)='start()' src="../../assets/img/wheel_tab.png">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="h-100 wheel-container">
      <div class="row h-100">
          <div class="col-12 h-100">
              <div class="card h-100 justify-content-center" style="background: transparent; border: none;">
                  <div>
                      <div class="card-body">
                          <div class="wheel-box" class="text-center">
                              <img class = "archor" src="../../assets/img/archor.png">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="row at-bottom">
    <div class="col-sm text-center">
        <button type="button" (click)='start()' class="btn btn-outline-warning"><b>QUAY</b></button>
    </div>
</div>
<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: crimson">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white" >Nhập thông tin quay và nhận thưởng</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Mã dự thưởng:</label>
            <input #codeInput type="text" (keyup)="codeInputKeyUp()" class="form-control">
          </div>
          <button #codeCheckButton type="button" [disabled] = 'isValidCode' (click)='checkValidCode(codeInput.value)' class="btn btn-danger">Kiểm tra</button>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Họ và tên:</label>
              <input type="text" [disabled] = '!isValidCode' class="form-control">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Số điện thoại:</label>
              <input type="number" [disabled] = '!isValidCode' class="form-control">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Số CMND hoặc Hộ chiếu:</label>
              <input type="number" [disabled] = '!isValidCode' class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled] = '!isValidCode' (click) = 'completeInput()' class="btn btn-danger">Bắt đầu quay</button>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Bạn phải nhập mã quay thưởng và thông tin để tham gia !</strong>
</div>
<!-- 
<div class="containter">
  <div class="text-center" style="color:white; margin-top: 20px;">
      <p class="header">GIAN HÀNG SỮA NUTRI FOOD</p>
  </div>
  <div class="wheel-box" class="text-center">
    <div class="wheel-container">
        <img class = "wheel {{curClass}}" src="../../assets/img/wheel_tab.png">
        
    </div>
    
    <div class="archor-container" (click) ="fireworkClick()" [hidden] = "!isShowFireWork">
        <canvas id="canvas"></canvas>
    </div>
  </div>


</div> -->