
.container {
    width: 100%;
    height: 100%;
}
body {
    background: darkred;
}

.header .head1{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 3.5vmin;
    white-space: nowrap;
    font-weight: bold;
    color: white;
}
.header .head2{
    font-size:calc(12px + 4vmin);
    margin: 0.5vmin;
    color: white;    
    font-weight: bold;
}

.wheel-container {
    margin-top: 20px; 
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
}

.wheel{
    width: 80%;
    min-width: 300px;
    max-width: 30%;
}

.archor{
    width: 80%;
    min-width: 300px; 
    max-width: 30%;
}

.at-bottom {
    width: 100%;
    margin: 0;
    margin-bottom: 20px; 
    position:absolute;
    bottom: 0;
}
.at-bottom button {
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 70px; 
    padding-right: 70px; 
}

/* .box{
    position: absolute;
    top: 50%;
}

.wheel-container {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}

.archor-container {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}

.wheel-button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.wheel-container .wheel{
    margin-top: 60px; 
    width: 80%;
    min-width: 300px;
    max-width: 500px;
}

.archor-container .archor{
    margin-top: 60px;
    width: 80%;
    min-width: 300px; 
    max-width: 500px;
}
.wheel-container .rotate{
    -webkit-animation:spin 500ms linear infinite;
    -moz-animation:spin 500ms linear infinite;
    animation:spin 500ms linear infinite;
} */









.wheel-container .rotate{
    -webkit-animation:spin 500ms linear infinite;
    -moz-animation:spin 500ms linear infinite;
    animation:spin 500ms linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.wheel-container .rotate0{
    -webkit-animation:spin 500ms linear both;
    -moz-animation:spin 500ms linear both;
    animation:spin 500ms linear both;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.wheel-container .rotate1{
    -webkit-animation:spin1 0.5s linear both;
    -moz-animation:spin1 0.5s linear both;
    animation:spin1 0.5s linear both;
}

@-moz-keyframes spin1 { 100% { -moz-transform: rotate(45deg); } }
@-webkit-keyframes spin1 { 100% { -webkit-transform: rotate(45deg); } }
@keyframes spin1 { 100% { -webkit-transform: rotate(45deg); transform:rotate(45deg); } }

.wheel-container .rotate2{
    -webkit-animation:spin2 0.5s linear both;
    -moz-animation:spin2 0.5s linear both;
    animation:spin2 0.5s linear both;
}

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

.wheel-container .rotate3{
    -webkit-animation:spin3 0.5s linear both;
    -moz-animation:spin3 0.5s linear both;
    animation:spin3 0.5s linear both;
}

@-moz-keyframes spin3 { 100% { -moz-transform: rotate(135deg); } }
@-webkit-keyframes spin3 { 100% { -webkit-transform: rotate(135deg); } }
@keyframes spin3 { 100% { -webkit-transform: rotate(135deg); transform:rotate(135deg); } }

.wheel-container .rotate4{
    -webkit-animation:spin4 0.5s linear both;
    -moz-animation:spin4 0.5s linear both;
    animation:spin4 0.5s linear both;
}

@-moz-keyframes spin4 { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin4 { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin4 { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

.wheel-container .rotate5{
    -webkit-animation:spin5 0.5s linear both;
    -moz-animation:spin5 0.5s linear both;
    animation:spin5 0.5s linear both;
}

@-moz-keyframes spin5 { 100% { -moz-transform: rotate(225deg); } }
@-webkit-keyframes spin5 { 100% { -webkit-transform: rotate(225deg); } }
@keyframes spin5 { 100% { -webkit-transform: rotate(225deg); transform:rotate(225deg); } }

.wheel-container .rotate6{
    -webkit-animation:spin6 0.5s linear both;
    -moz-animation:spin6 0.5s linear both;
    animation:spin6 0.5s linear both;
}

@-moz-keyframes spin6 { 100% { -moz-transform: rotate(270deg); } }
@-webkit-keyframes spin6 { 100% { -webkit-transform: rotate(270deg); } }
@keyframes spin6 { 100% { -webkit-transform: rotate(270deg); transform:rotate(270deg); } }

.wheel-container .rotate7{
    -webkit-animation:spin7 0.5s linear both;
    -moz-animation:spin7 0.5s linear both;
    animation:spin7 0.5s linear both;
}

@-moz-keyframes spin7 { 100% { -moz-transform: rotate(315deg); } }
@-webkit-keyframes spin7 { 100% { -webkit-transform: rotate(315deg); } }
@keyframes spin7 { 100% { -webkit-transform: rotate(315deg); transform:rotate(315deg); } }

.wheel-container .rotate8{
    -webkit-animation:spin8 0.5s linear both;
    -moz-animation:spin8 0.5s linear both;
    animation:spin8 0.5s linear both;
}

@-moz-keyframes spin8 { 
    100% {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin8 { 
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin8 { 
    100% {-webkit-transform: rotate(360deg);}
}